# 操作系统
.DS_Store
./Thumbs.db
Desktop.ini

# VS Code
.vscode/

# Claude Code
.claude/
./CLAUDE.md

# Codex
./AGENTS.md
.codex/

# Playwright
/.playwright-mcp/

# Docs
/desktop/docs/
/web/docs/
/web/backend/docs/
/web/frontend/docs/

# resume
/resume/

# temp
/tmp-e2e/

# 日志
*.log
